.App {
  text-align: center;
  background-color: white;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }


}

.Footer {
  background-color: teal;
  color: white
}

.badge {
  font-size: xx-large;
}

.pict {
  width: 200px;
  height: auto;
}

.menu {
  background-color: #61dafb;
  text-align: left;
  color: gray;
}

.film-card {
  color: gray;
}

.film-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 150px;
}

.film-card-wrapper {
  display: inline-flex;
  gap: 10px;
  margin: 5px;
  width: 300px;
  height: auto;
}

.container {
  width: max-content;
}

.form-container {
  width: 1000px;
  height: 640px;
}

.about-container {
  width: 1000px;
  height: 640px;
  color: gray;
}

.card-content-detail {
  text-align: left;
  background-color: whitesmoke;
  color: #282c34;
}

.card-content {
  text-align: left;
}

.modal-show {
  background-color: rgba(0, 0, 0, 0.2);
  width: 50vw;
  height: auto;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: white
}

.Summary {
  font-style: italic;
}

.news-content {
  font-style: italic;
}

.switch {
  text-align: right;
}

.tabs {
  color: black;
}

.ghibli {
  width: 400px;
}

.film-card {
  border-radius: 20px;
}
