.App {
  text-align: center;
  background-color: #111;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

 
}
body {
  background-color: black;
}
.header {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}

.header li {
  float: left;
}

.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header li a:hover {
  background-color: #111;
}

.header .active {
  background-color: #f7e70c;
}

.header {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}

.header li {
  float: left;
}

.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header li a:hover {
  background-color: #111;
}

.header .active {
  background-color: #f7e70c;
}

.func {
  color: white;
}



.column img {
  width: 900px;
  height: fit-content;
}

.func {
  font-size: x-large;
  
}
.card{
  display:inline-table;
  background-color: #282c34;  
}
.card:hover {
  background-color:black;
  color:aquamarine
}
.func:hover {
  color:aquamarine;
  display:ruby;
}